<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href=""><svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
  </svg></a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messenger</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">logout</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown show">
      <a class="dropdown-toggle text-light" >
        Welcome User
      </a>
    
      <div class="dropdown-menu">
        <a class="dropdown-item" ><i class="fa fa-user"></i>Edit Profile</a>
       <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout </a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      
      <input class="form-control mr-sm-2" type="text" 
        placeholder="Username" name="username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" 
        placeholder="Password" name="password" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
    </form>

</nav>